boto3
aiobotocore
types-aiobotocore[s3]
boto3-stubs[s3]
grpcio
grpcio-tools
dvc[s3]
gitpython
confluent-kafka[avro,json,protobuf,schemaregistry]
kafka-python
quixstreams
ipykernel
rich
requests
httpx
jsonlines
jsonschema
jsonpath_ng
pydantic
pydantic-settings
typing_extensions
trino
sqlalchemy
psycopg
psycopg2-binary
redis
pymongo
mysql-connector-python
pymysql
pypdf
pdf2image
pytesseract
pymupdf
xmltodict
tqdm
setproctitle
prettytable
tabulate
xmltodict

seaborn
matplotlib
pybind11
ninja
einops
hydra-core
omegaconf

fastapi
uvicorn
gunicorn
flask
requests
httpx
boto3