server {
    listen 8080;
    server_name _;

    include /etc/nginx/proxy_locations.conf;
}


server {

{{ if and (fileExists "/etc/nginx/certs/server.crt") (fileExists "/etc/nginx/certs/server.key") }}

    listen {{ getenv "SERVICE_PORT" "8888" }} ssl;

    ssl_certificate     /etc/nginx/certs/server.crt;
    ssl_certificate_key /etc/nginx/certs/server.key;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;

    # HTTP hitting HTTPS listener
    error_page 497 =307 https://$http_host$request_uri;

{{ else }}

    listen {{ getenv "SERVICE_PORT" "8888" }};

{{ end }}
    server_name _;

    include /etc/nginx/proxy_locations.conf;
}